body {
    background-color: #04346e;
    color: #ffffe9;
}
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container {
    width: 100%;
    max-width: 1200px;
    margin-top: 20px;
    padding: 20px;
}

.owner {
    display: flex;
    align-items: center;
    color: white;
    margin-bottom: 20px;
}

    .owner img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: grey;
        margin-right: 20px;
    }

    .owner h2 {
        font-size: 35px;
        font-weight: bold;
        color: #ffffe9;
    }

.profile-link {
    padding: 0px 10px;
    background-color: #ffffe9;
    border-radius: 20px;
    text-decoration: none;
    color: black;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}

    .profile-link:hover {
        background-color: #6fa5cc;
    }


.owner button:hover {
    background-color: #6fa5cc;
}

.content-container {
    width: 100%;
    margin-top: 30px;
}

.show-myActivity,
.joined-activity {
    display: flex;
    background-color: #ffffe9;
    padding: 15px;
    border-radius: 20px;
    flex-direction: column;
    gap: 15px;
}

.activity-item {
    display: flex;
    align-items: center;
    gap: 50px;
    background-color: #7bc8ff;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #04346e;
}

    .activity-item div {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .activity-item p {
        flex-grow: 1;
        font-size: 24px;
    }

    .activity-item i {
        font-size: 20px;
        color: #04346e;
    }

.load-more-btn {
    color: black;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    text-align: left;
    margin-left: 0;
}

    .load-more-btn:hover {
        text-decoration: underline;
        color: black;
    }

.tag {
    margin-bottom: 35px;
}

.show-myActivity ul {
    list-style: none;
    display: flex;
    gap: 10px;
    padding: 0;
}

.show-myActivity li {
    background-color: #7bc8ff;
    padding: 5px 10px;
    border-radius: 20px;
    color: white;
    font-size: 16px;
}

.detail li {
    background-color: #04346e;
}

/* Popup Modal Styles */
.popup-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
    background-color: #ffffe9;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 1200px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: auto;
    max-height: 60vh;
}

    .popup-content .activity-item {
        display: flex;
        align-items: center;
        gap: 50px;
        background-color: #7bc8ff;
        padding: 10px;
        border-radius: 20px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        color: #04346e;
        margin-top: 15px;
        margin-bottom: 15px;
    }

.close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #04346e;
    cursor: pointer;
}
