
* {
    font-family: "IBM Plex Sans Thai";
}

* {
    margin: 0;
    padding: 0;
    font-family: "IBM Plex Sans Thai";
}

body {
    background-color: #04346e;
    min-height: 100vh;
}

    body h1 {
        color: #ffffe9;
        text-align: center;
        font-size: 28px;
        margin-bottom: 32px;
        font-weight: bold;
    }
 

.content-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.content svg {
    height: 20px;
    width: 20px;
}

.content {
    background-color: #ffffe9;
    max-width: 280px;
    text-align: start;
    color: #6eacda;
    padding: 0 10px;
    border-radius: 10px;
    margin: 10px 5vw 20px 5vw;
}

    .content h3 {
        color: #e2e2b6;
    }

    .content ul {
        display: flex;
        list-style: none;
        padding-left: 0;
        flex-wrap: wrap;
    }

    .content li {
        display: flex;
        align-items: center;
        margin: 2px 10px 2px 0;
    }

@media only screen and (orientation: portrait) {

    .content-container {
        flex-direction: column;
        align-items: center;
    }

    .content {
        margin: 2px 0;
    }

    .nav-bar img {
        width: 150px;
    }

    .nav-bar svg, .nav-bar ul li {
        width: 20px;
        height: 20px
    }

    body h1 {
        margin-top: 10px;
        font-size: 35px;
        margin-left: auto;
        margin-right: auto;
    }
}
