
body {
    background-color: #04346e;
    text-align: center;
}

    body h1 {
        color: #ffffe9;
        margin: 30px 0;
        margin-top: 0.5em;
        font-size: 50px;
    }

.content-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.content svg {
    height: 20px;
    width: 20px;
}

.content {
    background-color: #6eacda;
    max-width: 280px;
    text-align: start;
    color: white;
    padding: 0 10px;
    border-radius: 10px;
    margin: 10px 5vw 20px 5vw;
}

    .content h3 {
        color: #e2e2b6;
    }

    .content ul {
        display: flex;
        list-style: none;
        padding-left: 0;
        flex-wrap: wrap;
    }

    .content li {
        display: flex;
        align-items: center;
        margin: 2px 10px 2px 0;
    }

@media only screen and (orientation: portrait) {

    .content-container {
        flex-direction: column;
        align-items: center;
    }

    .content {
        margin: 2px 0;
    }

    .nav-bar img {
        width: 150px;
    }

    .nav-bar svg, .nav-bar ul li {
        width: 20px;
        height: 20px
    }

    body h1 {
        margin: 10px 0;
        font-size: 35px;
    }
}
