* {
    margin: 0;
    font-family: "IBM Plex Sans Thai";
}

.nav-bar img {
    width: 200px;
    margin-left: 20px;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6eacda;
    padding: 5px 0;
}

    .nav-bar ul {
        display: flex;
        justify-content: space-around;
        list-style: none;
        margin: 0 0;
        margin-right: 20px;
    }

        .nav-bar ul li {
            margin: 0 10px;
            width: 20px;
            height: 20px;
            background-color: #04346e;
            border-radius: 50%;
            padding: 10px 10px;
        }

            .nav-bar ul li i {
                font-size: 20px;
                color: #ffffe9;
                margin: 1px;
            }

#create-box {
    display: none;
    padding: 20px;
    background-color: #fdfdf0;
    color: #fff;
    width: 50%;
    height: 20%;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 2;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

    #create-box h2 {
        color: #000;
        font-size: 37px;
    }

    #create-box button {
        margin-left: 20px;
        font-size: 22px;
        border-radius: 10px;
        padding: 7px;
        background-color: #fdfdf0;
    }

.login-btn {
    background-color: #04346e;
    border: solid 1px antiquewhite;
    color: antiquewhite;
    padding: 5px;
    font-size: 20px;
    text-decoration: none;
    margin-right: 30px;
    border-radius: 5px;
}

.account-nav {
    display: none;
    position: absolute;
    top:59.48px;
    right: 0;
    margin: 5px;
    margin-top: 0;
    padding: 5px;
    border-radius: 5px;
    z-index: 999;
}

    .account-nav a {
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    }

@media only screen and (orientation: portrait) {

    .nav-bar img {
        width: 150px;
    }

    .nav-bar ul li i,
    .nav-bar ul li {
        width: 20px;
        height: 20px;
    }

    body h1 {
        margin: 10px 0;
    }

    #create-box{
        width: 240px;
        height: 134px;
        position: absolute;
        top: 130px;
        margin: 0;
        padding: 0;
        padding-top: 15px;
    }

    #create-box h2{
        font-size: 20px;
    }
    #create-box button{
        font-size: 10px;
        margin: 0;
    }
}
