* {
    margin: 0 0;
    font-family: "IBM Plex Sans Thai";
}

body {
    background-color: #04346e;
}

.body-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin-top: 20px;
    padding: 20px;
}

.owner {
    display: flex;
    align-items: center;
    color: white;
    margin-bottom: 30px;
}

    .owner h2 {
        font-size: 35px;
        font-weight: bold;
        color: #e2e2b7;
    }

    .owner img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: grey;
        margin-right: 20px;
    }

.profile {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: grey;
    margin-right: 15px;
}

.owner h1 {
    font-size: 40px;
    color: #e2e2b7;
}

.btn-edit {
    background-color: #e2e2b7;
    border: none;
    border-radius: 20px;
    padding: 0px 10px;
    font-size: 16px;
    cursor: pointer;
    color: black;
    margin-bottom: 20px;
}

.content {
    background-color: #ffffe9;
    border-radius: 20px;
    max-width: 100%;
    position: relative;
    padding: 5px 30px 10px 30px;
    margin-bottom: 20px;
}

    .content h2 {
        font-size: 30px;
        margin-bottom: 15px;
        color: #04346e;
        font-weight: bold;
    }

.info {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    font-size: 25px;
    color: #6eacda;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

.info-icon {
    background-color: #6eacda;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: white;
}

    .info-icon svg {
        fill: white;
        width: 25px;
        height: 25px;
    }

.body-container button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
