<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebProject</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="@Url.Content("~/css/" + ViewData["Style"] + ".css")" asp-append-version="true" />
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link rel="stylesheet" href="~/css/NavBar.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    @* <link rel="stylesheet" href="~/WebProject.styles.css" asp-append-version="true" /> *@
</head>
<body>
    <header>
        <nav class="nav-bar">
            <a asp-controller="Home"><img src="/images/logo_peonpromt.png" alt="Logo"></a>
            <partial name="_LoginPartial.cshtml" />
        </nav>
    </header>
    <div id="create-box"></div>
    @RenderBody()
    <script src="@Url.Content("~/js/" + ViewData["Script"] + ".js")" asp-append-version="true"></script>
    <script src="~/js/NavBar.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
