@using Microsoft.AspNetCore.Identity;
@using WebProject.Models;
@inject SignInManager<User> signInManager;

@if (signInManager.IsSignedIn(User))
{
    <ul>
        <li><i class="fa-solid fa-pen"></i></li>
        <li><i class="fa-solid fa-magnifying-glass"></i></li>
        <li><i class="fa-solid fa-user"></i></li>
    </ul>
    <div class="account-nav">
        <a asp-controller="Account" asp-action="Profile"><p>โปรไฟล์</p></a>
        <a asp-controller="Account" asp-action="Logout"><p>ออกจากระบบ</p></a>
    </div>
}
else
{
	<a class="login-btn" asp-controller="Account" asp-action="Login">Login</a>
}