@model WebProject.Models.ViewModels.LoginViewModel;

@{
    Layout = "~/Views/Shared/_NoNavLayout.cshtml";
    ViewData["Title"] = "Student Registration";
    ViewData["Style"] = "Login";
    ViewData["Script"] = "Login";
}

<div class="page_element">
    <div class="left-element">
        <img class="logo" src="/images/logo_peonpromt.png" alt="">
        <p>เว็บค้นหากิจกรรมที่โดนใจคุณ<br>พร้อมกับเพื่อนร่วมอุดมการณ์อีกมากมาย<br>ที่จะไม่ทำให้คุณเหงาอีกต่อไป</p>
        <img class="img-left" src="/images/1.png" alt="">
    </div>
    <div class="right-element">

        <div class="login-box">
            <h1>เข้าสู่ระบบ</h1>
            <form asp-action="Login" method="post">
                @Html.AntiForgeryToken()
                <div class="input-box">
                    <input type="text" id="username" asp-for="UserName" required>
                    <label for="username" asp-for="UserName">ชื่อผู้ใช้</label>
                </div>
                <div class="input-box">
                    <input type="password" id="password" asp-for="Password" required>
                    <label for="password" asp-for="Password">รหัสผ่าน</label>
                    <!-- <i class="fa-regular fa-eye" id="togglePassword"></i> -->
                </div>
                <div class="register-link">
                    <span>ยังไม่มีบัญชีใช่หรือไม่?</span>
                    <a asp-controller="Account" asp-action="Register">สมัครบัญชี</a>
                </div>
                
                @if (ViewData.ModelState.ErrorCount > 0)
                {
                <span class="error" id="error-message">
                    @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                    {
                        <p>@error.ErrorMessage</p>
                    }
                </span>
                }

                <button type="submit" class="login-btn">เข้าสู่ระบบ</button>
            </form>
        </div>
    </div>
</div>